@use "@/styles/utils" as *;
.services{
    //Diseño de la card

    background-color: white;
    padding: 24px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
    &:hover{transform: translateY(-5px);}
    width: 270px;
    height: 320px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //Diseño de la imagen de la card

    &__img{
        width: 65px;
        height: 65px;
    }
    //Desing del titulo
    &__tittle{
        font-size: 20px;
        font-family: $font-tertiary;
        font-weight: 500;
        color: #151875;
        
    }
    //Desing de la descripcion
    &__description{
        font-size: 16px;
        font-family: $font-tertiary;
        font-weight: 500;
        color: #bbb6ce ;
    }
}