@use "@/styles/utils" as *;

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    @include media-ltlg(){
        flex-direction: column;
    }
}

.contact-container-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: $font-tertiary;
    }
    img {
        width: 520px;
        height: 520px;
    }
}