@use '@/styles/utils' as *;

.home {
    max-width: 1200px;
    margin: 0 auto;
}
.home-cards{
    padding: 30px 0;
    margin: 0 auto;
    div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        justify-items: center;

        @include media-xs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include media-sm{
              grid-template-columns: repeat(2,1fr);

        }
        @include media-md{
              grid-template-columns: repeat(3,1fr);

        }
        @include media-lg{
              grid-template-columns: repeat(3,1fr);

        }
    }
    h2{
        text-align: center;
        color:#151875 ;
        font-family: $font-tertiary;
    }
}