@use "@/styles/utils" as *;

.footer {


  &__heading {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: $font-tertiary;
    font-size: 22px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__link {
    display: inline-block;
    color: #8A8FB9;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
    transition: color 0.2s;
    font-family: $font-secondary;

    &:hover {
      color: #151875;
    }
  }

}
