@use "@/styles/utils" as *;

.product-info {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: $font-tertiary;

    @include media-xs() {
      font-size: 26px;
    }
  }

  &__price {
    margin-bottom: 1.5rem;

    &--new {
      color: #151875;
      font-size: 16px;
      font-family: $font-tertiary;
    }

    &--old {
      color: #e74c3c;
      text-decoration: line-through;
      margin-left: 10px;
      font-size: 16px;
      font-family: $font-tertiary;
    }
  }

  &__color h4 {
    margin-bottom: 0.3rem;
    font-family: $font-tertiary;
    color: #0d134e;
    font-weight: 600;
    font-size: 18px;
  }

  &__color p {
    color: #a9acc6;
    font-family: $font-tertiary;
    font-size: 16px;
  }

  &__add {
    background-color: #fb2e86;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    margin: 1.5rem 0;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-family: $font-tertiary;
    max-width: 200px;

    &:hover {
      background-color: #fb2e87a7;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    .spinner {
      border: 3px solid #fff;
      border-top-color: transparent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: inline-block;
      animation: spin 0.8s linear infinite;
      margin-left: 0.5rem;
      vertical-align: middle;
    }
  }

  footer {
    font-family: $font-tertiary;
    color: #151875;
    font-size: 16px;

    p {
      margin-bottom: 0.3rem;
      font-family: $font-tertiary;
      color: #151875;
      font-size: 16px;

      strong {
        font-family: $font-tertiary;
        color: #151875;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}
