@use "@/styles/utils" as *;

.footer {
  background-color: #eeeffb;
  padding: 60px 0 0;
  font-family: "Poppins", sans-serif;
  color: #151875;

  &__top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto 40px;
    gap: 80px;
  }

  &__brand {
    @include media-ltxl(){
      width: 200px;
    }
  }
  &__logo {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }

  &__address {
    font-style: normal;

    p {
      color: #8A8FB9;
      margin-bottom: 5px;
      font-family: $font-secondary;
      font-size: 16px;
    }

    &-title {
      font-weight: 600;
      color: #151875;
    }
  }

  &__bottom {
    border-top: 1px solid #e6e6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    color: #8a8fb9;
    background-color: #E7E4F8;
    font-size: 14px;

    p {
      color: #9DA0AE;
      font-family: $font-secondary;
      font-size: 16px;
    }
  }

  @include media-ltmd() {
    &__top {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;
    }

    &__bottom {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
}